@charset "UTF-8";

#display {
	font-size: 20px;
	color: white;
	background-color: var(--nav-hover-color);
	width: 100px;
	height: auto;
	margin: auto;
	position: fixed;
	bottom: 0px;
	left: 0px;
	text-align: center;
}